name: Tests

on:
  push:
  pull_request:

jobs:
  commit-check:
    runs-on: ubuntu-latest
    name: Commit Message Check
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Conform Action
        uses: siderolabs/conform@v0.1.0-alpha.30

  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - '3.4.7'

    steps:
      - uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: RSpec
        run: bundle exec rake spec

      - name: Bikeshed-proof linter
        run: bundle exec rake standard
